body {
    margin: 0px;
    padding: 0px;    
    width: 310px;
}

#top {
    background-image: url("../images/lpu_logo.png");
    background-size: cover;
    margin-left: 1px;
    height: 120px;
}


#form {
    margin: auto;
    width: 80%
}

.heading1{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.checkbox-container {
    width: 100%;
    /* background-color: #97705b; */
    margin: 0 auto;
    padding: 9px;
    border: 1px solid #D7CFFE;
    border-radius: 6px;
}

.label {
    text-align: center;
    font-weight: 500;
}

.btn {
    width: 210px;
    height: 30px;
    margin: 0px 0px 13px 60px;
    border: 1px solid black;
    font-size: 15pt;
    padding-left: 10px;
    box-shadow: 2px 2px black;
}

#check {
    width: 15px;
    vertical-align: middle;
    height: 15px;
}

#checkfuture {
    width: 15px;
    vertical-align: middle;
    height: 15px;
}

#loginbtn {
    display: flex;
    margin: auto;
}

.credits-text {
    text-align: center;
    color: black;
    font-size: 14px;
    padding: 5px;
}


.button {
    --color: #00A97F;
    padding: 2px 18px;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }

   .enable-check{
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
    align-items: center;
   }
   
   #enable{
    width: 15px;
    vertical-align: middle;
    height: 15px;
   }